.button {
  width: 277px;
  height: 73px;
  outline: none;
  border: none;
  position: relative;
  margin: 20px 0 10px;
  cursor: pointer;
  background: #828282;
  border-radius: 63px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 47px;
  color: #000000;
}

button {
  box-sizing: border-box;
}

// RESPONSIVE

@media (max-width: 760px) {
  .button {
    width: 195px;
    height: 47px;
    font-size: 24px;
    line-height: 28px;
    margin: 50px 0 10px;
  }
}
