header {
  height: 60px;
  width: 100%;
  background: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

header a {
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
}

a.activeLink {
  color: #acc6c6;
}