.input input {
    box-sizing: border-box;
    border: none;
    width: 90%;
    height: 47px;
    padding: 0 0 0 15px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 47px;
    margin: 15px 0;
    background-color: #C4C4C4;
}

.input input::placeholder {
    color: #000000;
}

.error {
    border-color: red;
}


